
 <%- include("static_files/header.ejs") %>

 <section class="hero">
   <div class="para">
     <h1>Welcome To TechTrove</h1>
     <p>Start reading or writing amazing blog posts today!</p>
     <p class="text">
       "Welcome to my blog — a digital journal where I explore the world of technology, coding, and continuous learning. Whether you're a student, a developer, or just someone who loves to stay curious, you'll find practical tutorials, helpful insights, and fresh ideas here. I believe learning never stops, and through this space, I hope to share knowledge, spark creativity, and connect with like-minded thinkers. Dive in and discover something new!"
     </p>
   </div>
 
   <div class="image-box">
     <img src="/images/im.jpg" alt="home_image">
   </div>
 </section>

 <%- include("static_files/footer.ejs") %>
 
